<ion-header>
  <ion-navbar color="header">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Economic Calender</ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 
    <iframe src="https://sslecal2.forexprostools.com?columns=exc_flags,exc_currency,exc_importance&features=datepicker,timezone&countries=25,32,6,37,72,22,17,39,14,10,35,43,56,36,110,11,26,12,4,5&calType=day&timeZone=23&lang=1" width="350" height="600" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>
</ion-content>